html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    /*! Body grid might not be needed! */
    display: grid;
    background-color: var(--primary-color);
    /*! Add a better font */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.creation-panel {
    position: sticky;
    background-color: var(--secondary-color);
    border-bottom: 10px solid var(--accent-color);
    width: 100%;
    top: 0;
    padding: 10px 0 20px 0;
    z-index: 1;
    flex-direction: column;
}

#creationForm {
    /*? Adjust Size later? */
    width: 615px;
}

#txtLinkName {
    margin-bottom: 4px;
}

.url-bar {
    width: 100%;
    padding-right: 65px !important;
}

#btnShorten {
    height: 46px;
    width: 20%;
    background-color: var(--accent-color);
    border: 3px solid var(--dark-gray);
    border-radius: 0 var(--radius) var(--radius) 0;
    outline: none;
    font-weight: bold;
    font-size: 100%;
    margin-left: -50px;
    cursor: pointer;
}

#btnShorten:focus-visible {
    background-color: var(--dark-gray);
    border-color: var(--accent-color);
    color: #ffffff;
}

#btnShorten:hover {
    filter: brightness(95%);
}

#btnShorten:active {
    filter: brightness(85%);
}

#creationError {
    margin-top: 5px;
}


#linksContainer {
    display: grid;
    place-items: center;
    padding: 20px;
    gap: 20px;
}
  
#linksContainer > link-item {
    animation: fadeIn 1s;
}


/* Modal Styles: */
/*! Add some kid of animation. */
/*! Should it be a full screen overlay instead? */

#modalWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #344f6575;
    backdrop-filter: blur(10px);
    overflow: hidden;
    /* Place over top Everything! */
    z-index: 10000;
}

#modalBody {
    border-radius: var(--radius);
    padding: 15px;
    background-color: #ffffff;
}