:root {
    --primary-color: #096691;
    --secondary-color: #e5e6e4;
    --accent-color: #2098ed;
    --dark-gray: #344f65;
    --red-color: #dc143c;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    /*! Body grid might not be needed! */
    display: grid;
    /* place-items: center; */

    /* Alternate white gray color: #e4e5e5 */
    background-color: var(--primary-color);
    /*! Add a better font */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.creation-panel {
    position: sticky;
    background-color: var(--secondary-color);
    border-bottom: 10px solid var(--accent-color);
    width: 100%;
    top: 0px;
    padding: 20px 0 20px 0;
    z-index: 1;
}

#creationForm {
    /*? Adjust Size later? */
    width: 615px;
}

.label-required::after {
    content: " *";
    color: var(--red-color);
    font-size: 90%;
}

.fancy-input {
    height: 40px;
    border: 3px solid var(--dark-gray);
    border-radius: 10px;
    outline: none;
    margin: 3px 0;
    padding: 0 15px;
    font-size: 90%;
    text-overflow: ellipsis;
}

.url-bar {
    width: 100%;
    padding-right: 65px;
}

.fancy-input:focus {
    border-color: var(--accent-color);
}

.invalid, .invalid:focus {
    border-color: var(--red-color);
}

#btnShorten {
    height: 46px;
    width: 20%;
    background-color: var(--accent-color);
    border: 3px solid var(--dark-gray);
    border-radius: 0 10px 10px 0;
    outline: none;
    font-weight: bold;
    font-size: 100%;
    margin-left: -50px;
    cursor: pointer;
}

#btnShorten:focus-visible {
    background-color: var(--dark-gray);
    border-color: var(--accent-color);
    color: #ffffff;
}

#btnShorten:hover {
    filter: brightness(95%);
}

#btnShorten:active {
    filter: brightness(85%);
}

#linksContainer {
    display: grid;
    place-items: center;
    padding: 20px;
    gap: 20px;

    /* Margin here makes the sticky panel end on full card: */
    /* margin-bottom: 75px; */
}
  
#linksContainer > link-item {
    animation: fadeIn 1s;
}

/* .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
} */