:root {
    --primary-color: #096691;
    --secondary-color: #e5e6e4;
    --accent-color: #2098ed;
    --accent-transparent: #2098ed3b;
    --dark-gray: #344f65;
    --light-gray: #c1c1c1;
    --red-color: #dc143c;
    --red-transparent: #ff000028;
    --radius: 10px;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-right {
    justify-content: flex-end;
}

.hidden {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
}


.message-container {
    border-radius: var(--radius);
    padding: 15px;
}

.has-icon {
    display: flex;
    gap: 10px;
}

.warning {
    color: var(--red-color);
    background-color: var(--red-transparent);
}

.info {
    color: var(--accent-color);
    background-color: var(--accent-transparent);
}

/* Might not need this, well see... */
.success {
    color: #0e862e;
    background-color: #06A77D3b;
}



label {
    padding-left: 8px;
    margin-bottom: 3px;
}

.label-required::after {
    content: " *";
    color: var(--red-color);
    font-size: 90%;
}

.fancy-buttons {
    display: flex;
    gap: 15px;
}

.fancy-buttons > button {
    height: 30px;
    min-width: 80px;
    max-width: fit-content;
    padding: 0 10px;
    border: none;
    border-radius: var(--radius);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s;
}

.fancy-buttons > button:hover,
.fancy-buttons > button:focus-visible {
    filter: brightness(80%);
}


.fancy-input {
    height: 40px;
    border: 3px solid var(--dark-gray);
    border-radius: var(--radius);
    outline: none;
    padding: 0 15px;
    font-size: 90%;
    text-overflow: ellipsis;
}

.fancy-input:focus {
    border-color: var(--accent-color);
}

.invalid, .invalid:focus {
    border-color: var(--red-color);
}


/* Animations: */

.loading {
    color: transparent !important;
    pointer-events: none;
    position: relative;
}

.loading::after {
    border: 2px solid #000000;
    border-radius: 100px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    top: 30%;  
    left: 40%;
    animation: spin 0.5s infinite linear;
}


/* Animations: */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}